span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flatpickr-calendar {
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 8px;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  width: 332px;
  box-sizing: border-box;
  touch-action: manipulation;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-top: 4px;
}

.flatpickr-calendar.open,
.flatpickr-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible;
}

.flatpickr-calendar.open {
  display: inline-block;
  z-index: 1000;
}

.flatpickr-calendar.animate.open {
  -webkit-animation: none;
  animation: none;
}

.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
  box-shadow: none;
  background: inherit;
}

.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}

.flatpickr-calendar.static.open {
  z-index: 1000;
  display: block;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n + 1) .flatpickr-day.inRange:nth-child(7n + 7) {
  box-shadow: none !important;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n + 2) .flatpickr-day.inRange:nth-child(7n + 1) {
  box-shadow: -2px 0 0 #e5e8eb, 5px 0 0 #e5e8eb;
}

.flatpickr-calendar .hasWeeks .dayContainer,
.flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0;
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  height: 40px;
  border-top: 1px solid #e5e8eb;
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}

.flatpickr-calendar:before,
.flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: unset;
  height: 0;
  width: 0;
  left: 32px;
}

.flatpickr-calendar.rightMost:before,
.flatpickr-calendar.rightMost:after {
  left: auto;
  right: 32px;
}

.flatpickr-calendar:before {
  border-width: 7px;
  margin: 0 -7px;
}

.flatpickr-calendar:after {
  border-width: 6px;
  margin: 0 -6px;
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  bottom: 100%;
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #ffffff;
}

.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowBottom:after {
  top: 100%;
}

.flatpickr-calendar.arrowBottom:before {
  border-top-color: #d8dce1;
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: #ffffff;
}

.flatpickr-calendar:focus {
  outline: 0;
}

.flatpickr-wrapper {
  position: relative;
  display: inline-block;
}

.flatpickr-months {
  display: flex;
}

.flatpickr-months .flatpickr-month {
  background: transparent;
  color: #333333;
  fill: #333333;
  height: 42px;
  margin-top: 12px;
  line-height: 24px;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  flex: 1;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 42px;
  z-index: 3;
  color: #333333;
}

.flatpickr-months .flatpickr-prev-month i,
.flatpickr-months .flatpickr-next-month i {
  position: relative;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px;
}

.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
  transition: fill 0.1s;
  fill: inherit;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: none;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  color: #b6bec6;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #0091dc;
}

.flatpickr-months .flatpickr-next-month {
  padding: 24px 20px 0px 0px;
  right: 0;
}

.flatpickr-months .flatpickr-prev-month {
  left: 0;
  padding: 24px 0px 0px 20px;
}

.numInputWrapper {
  position: relative;
  height: auto;
}

.numInputWrapper input::-webkit-outer-spin-button,
.numInputWrapper input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.numInputWrapper input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.numInputWrapper input,
.numInputWrapper span {
  display: inline-block;
}

.numInputWrapper input {
  width: 100%;
  font-weight: 700;
}

.numInputWrapper input::-ms-clear {
  display: none;
}

.numInputWrapper span {
  position: absolute;
  right: -8px;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
}

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}

.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #333333;
  top: 26%;
}

.numInputWrapper span.arrowDown {
  top: 50%;
}

.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333333;
  top: 40%;
}

.numInputWrapper span svg {
  width: inherit;
  height: auto;
}

.numInputWrapper span svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.numInputWrapper:hover span {
  opacity: 1;
}

.flatpickr-current-month {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 7.48px 0 0 0;
  line-height: 24px;
  height: 34px;
  display: inline-block;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0;
}

.flatpickr-current-month span.cur-month:hover {
  color: #0091dc;
}

.flatpickr-current-month select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg  height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'><g><polygon points='8,10.7 3.6,6.4 4.4,5.6 8,9.3 11.6,5.6 12.4,6.4'/></g></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 70%;
  border: none;
  color: inherit;
  cursor: pointer;
  line-height: 24px;
  margin: -1px 0 0 0;
  outline: none;
  padding-left: 8px;
  padding-right: 16px;
}

.flatpickr-current-month select:hover {
  color: #0091dc;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(0, 145, 220)'  height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'><g><polygon points='8,10.7 3.6,6.4 4.4,5.6 8,9.3 11.6,5.6 12.4,6.4'/></g></svg>");
}

.flatpickr-current-month select option {
  color: #333333 !important;
}

.flatpickr-current-month .numInputWrapper {
  width: 60px;
  display: inline-block;
}

.flatpickr-current-month .numInputWrapper input {
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  margin-left: 16px;
  display: inline-block;
  line-height: 24px;
  border: 0;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.flatpickr-current-month .numInputWrapper:hover {
  color: #0091dc;
}

.flatpickr-current-month .numInputWrapper .arrowUp:hover:after {
  border-bottom-color: #0091dc;
}

.flatpickr-current-month .numInputWrapper .arrowDown:hover:after {
  border-top-color: #0091dc;
}

.flatpickr-current-month input.cur-year:focus {
  outline: 0;
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  pointer-events: none;
}

.flatpickr-monthDropdown-months {
  font-weight: 700;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month .flatpickr-monthDropdown-months:active {
  outline: none;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  background-color: transparent;
  outline: none;
  padding: 0;
}

.flatpickr-weekdays {
  border-bottom: 1px solid #d8dce1;
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 4px;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: flex;
  flex: 1;
}

span.flatpickr-weekday {
  cursor: default;
  font-size: 14px;
  background: transparent;
  color: #b6bec6;
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  flex: 1;
  font-weight: normal;
}

.dayContainer,
.flatpickr-weeks {
  padding: 1px 0 0 0;
}

.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  width: 307.875px;
}

.flatpickr-days:focus {
  outline: 0;
}

.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  box-sizing: border-box;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.dayContainer + .dayContainer {
  box-shadow: -1px 0 0 #e5e8eb;
}

.flatpickr-day {
  background: none;
  border: 2px;
  border-radius: 150px;
  box-sizing: border-box;
  color: #333333;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 33px;
  height: 33px;
  line-height: 33px;
  margin: 4px;
  display: inline-block;
  position: relative;
  justify-content: center;
  text-align: center;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e5e8eb;
  border-color: #e5e8eb;
  font-weight: 700;
}

.flatpickr-day:hover {
  cursor: pointer;
  outline: 0;
  color: #0587cb;
}

.flatpickr-day.today {
  background-color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.flatpickr-day.today:hover {
  color: #0587cb;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #ffffff;
  box-shadow: none;
  color: #0091dc;
  border: 2px solid #0091dc;
  font-weight: 700;
  line-height: 28px;
}

.flatpickr-day.selected.flatpickr-disabled,
.flatpickr-day.startRange.flatpickr-disabled,
.flatpickr-day.endRange.flatpickr-disabled,
.flatpickr-day.selected.inRange.flatpickr-disabled,
.flatpickr-day.startRange.inRange.flatpickr-disabled,
.flatpickr-day.endRange.inRange.flatpickr-disabled,
.flatpickr-day.selected:focus.flatpickr-disabled,
.flatpickr-day.startRange:focus.flatpickr-disabled,
.flatpickr-day.endRange:focus.flatpickr-disabled,
.flatpickr-day.selected:hover.flatpickr-disabled,
.flatpickr-day.startRange:hover.flatpickr-disabled,
.flatpickr-day.endRange:hover.flatpickr-disabled,
.flatpickr-day.selected.prevMonthDay.flatpickr-disabled,
.flatpickr-day.startRange.prevMonthDay.flatpickr-disabled,
.flatpickr-day.endRange.prevMonthDay.flatpickr-disabled,
.flatpickr-day.selected.nextMonthDay.flatpickr-disabled,
.flatpickr-day.startRange.nextMonthDay.flatpickr-disabled,
.flatpickr-day.endRange.nextMonthDay.flatpickr-disabled {
  color: #b9babb;
  background: #e6e9ec;
}

.flatpickr-day.startRange.startRange {
  border-radius: 50px;
  box-shadow: none;
}

.flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
  box-shadow: 10px 0 0 #0091dc;
}

.flatpickr-day.selected.startRange {
  border-radius: 50px;
  box-shadow: none;
}

.flatpickr-day.endRange:not(.inRange):not(.startRange),
.flatpickr-day.selected.endRange:not(.inRange):not(.startRange) {
  border-radius: 50px;
  position: relative;
}

.flatpickr-day.endRange:not(.inRange):not(.startRange)::before,
.flatpickr-day.selected.endRange:not(.inRange):not(.startRange)::before {
  content: "";
  position: absolute;
  height: calc(100% + 4px);
  z-index: -1;
  width: 42px;
  background-color: #e5e8eb;
  left: -26px;
  top: -2px;
}

.flatpickr-day.endRange:not(.inRange):not(.startRange).flatpickr-disabled::before,
.flatpickr-day.selected.endRange:not(.inRange):not(.startRange).flatpickr-disabled::before {
  background-color: #e5e8eb;
}

.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 50px;
}

.flatpickr-day.startRange:not(:hover):not(.endRange):nth-child(7n)::before {
  content: "";
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 24px;
  background-color: #e5e8eb;
  left: 16px;
}

.flatpickr-day.startRange:not(:hover):not(.endRange):nth-child(7n).flatpickr-disabled::before {
  background-color: #e5e8eb;
}

.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange,
.flatpickr-day.endRange.startRange.endRange {
  border-radius: 50px;
}

.flatpickr-day.inRange:not(.startRange) {
  box-shadow: none;
  position: relative;
}

.flatpickr-day.inRange:not(.startRange):not(.endRange):nth-child(7n) {
  border-radius: 0;
  box-shadow: -10px 0 0 #e5e8eb, 24px 0 0 #e5e8eb;
}

.flatpickr-day.inRange:not(.startRange):not(.endRange):nth-child(7n).flatpickr-disabled {
  box-shadow: -10px 0 0 #f2f3f5, 24px 0 0 #f2f3f5;
}

.flatpickr-day.inRange:not(.startRange)::before {
  content: "";
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 48px;
  background-color: #e5e8eb;
  left: -28px;
}

.flatpickr-day.inRange:not(.startRange).flatpickr-disabled::before {
  background-color: #f2f3f5;
}

.flatpickr-day.inRange ~ .flatpickr-day.inRange:not(.selected) {
  border-radius: 0;
  box-shadow: -10px 0 0 #e5e8eb, 24px 0 0 #e5e8eb;
}

.flatpickr-day.inRange ~ .flatpickr-day.inRange:not(.selected).flatpickr-disabled {
  box-shadow: -10px 0 0 #f2f3f5, 24px 0 0 #f2f3f5;
  background: #f2f3f5;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  cursor: not-allowed;
  color: rgba(57, 57, 57, 0.1);
}

.flatpickr-day.week.selected {
  border-radius: 0;
  box-shadow: -5px 0 0 #0091dc, 5px 0 0 #0091dc;
}

.flatpickr-day.hidden {
  visibility: hidden;
}

.rangeMode .flatpickr-day {
  margin-top: 1px;
}

.flatpickr-weekwrapper {
  float: left;
}

.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  box-shadow: 1px 0 0 #e5e8eb;
}

.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 28px;
}

.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  cursor: default;
  border: none;
}

.flatpickr-innerContainer {
  display: block;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
}

.flatpickr-time {
  text-align: center;
  outline: 0;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.flatpickr-time:after {
  content: "";
  display: table;
  clear: both;
}

.flatpickr-time .numInputWrapper {
  flex: 1;
  width: 40%;
  height: 40px;
  float: left;
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #b6bec6;
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: #b6bec6;
}

.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}

.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}

.flatpickr-time input {
  background: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: #333333;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.flatpickr-time input.flatpickr-hour {
  font-weight: 700;
}

.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  font-weight: 400;
}

.flatpickr-time input:focus {
  outline: 0;
  border: 0;
}

.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
  height: inherit;
  float: left;
  line-height: inherit;
  color: #333333;
  font-weight: 700;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-self: center;
}

.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background: #ffffff;
}

.flatpickr-input[readonly] {
  cursor: pointer;
}

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*# sourceMappingURL=festo.css.map */